@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");


.container {
  width: 90%;
  padding-top: 0px;
  padding-bottom: 5px;
}

nav ul {
  display: grid; /*acomoda el menu dentro del contenedor en forma vertical*/
  grid-template-columns: repeat(2, 1fr); /*forma en columnas*/
  padding: 5px; /*genera espacios de 5px en todos*/
}

nav ul li a {
  padding: 5px 0px; /*genera espacios de 5px arriba y abajo del texto y de 0 a la derecha e izquierda*/
  font-size: 90%; /*achica la letra*/
}

#section-main-image {
  height: 80vh; /*disminuye el alto de la imagen en pantalla*/
}

#section-coffee {
  font-size: 80%;
}

#section-main-image h1 {
  font-size: 280%; /*achica la letra*/
  text-align: center;
}

#section-main-image h3 {
  font-size: 70%; /*achica la letra*/
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /*acomoda las fotos una abajo de la otra*/
}

.product {
  padding: 0px;
}

.product img {
  width: 150px;
}

#footer-contact .contact-data {
 font-size: 80%;
 display: grid; 
 
}

.contact-form form {
  margin-left: 20px;
 
}

#footer-contact .contact-info {
  text-align: center;
}

.contact-form form button {
  margin-top: 8px;

  padding: 1px 15px;
}